{% load static %}
<style>
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;  
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 5px;
  position: relative;
}

.image-container {
  position: relative;
}

.image-container .overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay .text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 600px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
</style>
<section id="photos" style="margin-top: 10px;">
    {% for art in arts %}
    <div class="image-container">
        <a href="/art/{{ art.id }}">
            <img src="{{ art.thumbnail }}" alt="{{ art.name }}">
            <div class="overlay">
                <div class="text">{{ art.name }}</div>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
