{% extends 'posts/layout.html' %}
{% block content %}
<div class="card" style="margin-top: 20px;">
  <div class="card-body">
<div class="row g-5" style="max-width: 100%;">
    <div class="col-md-8">

      <article class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        {% if category == None %}
          <p class="blog-post-meta">{{post.created_at}} in category <a href="/blogcategory/{{post.category.id}}/">{{post.category.name}}</a></p>
        {% else %}
          <p class="blog-post-meta">{{post.created_at}}</p>
        {% endif %}
        <hr>
        {{post.body | safe}}
      </article>



    </div>


  </div>
</div>
</div>
{% endblock %}