<style>
  .portfoliotext {
    /* Portfolio */



    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */

    margin-left: 8px;

    color: #000000;
  }

  .sidebarcontainer {
    position: fixed;
    margin-top: 28vh;
    padding-left: 50px;
  }

  .Drectangle {
    width:46px;
    height: 46px;

    background: #000000;
  }

  .Dletter {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    padding-top: 2px;
    padding-left: 6px;

    color: #FFFFFF;
  }

  .navigationcontainer{
    margin-top: 60px;
  }

  .arttext {
    /* Art */


    font-family: NATS;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    /* identical to box height */

    margin-left: 6px;

    color: #000000;
  }

</style>
<div class="sidebarcontainer">
  <div style="display: flex;">
    <div class="Drectangle">
      <p class="Dletter">D</p>
    </div>
    <h4 class="portfoliotext">Portfolio</h4>
  </div>
  <div class="navigationcontainer">
    <a href="/" style="text-decoration: none; color: #000000;">
        {% if isIndex %}
          <p class="arttext"><i class="fa-solid fa-paintbrush fa-2xs" style="font-size: 16px; color: #5823C8;"></i>   Art</p>
        {% else %} 
          <p class="arttext"><i class="fa-solid fa-paintbrush fa-2xs" style="font-size: 16px;"></i>   Art</p>     
        {% endif %}
    </a>
    <!-- <a href="/blog/" style="text-decoration: none; color: #000000;">
        {% if isBlog %}
          <p class="arttext" style="padding-top: 1px;"><i class="fa-solid fa-newspaper fa-2xs" style="font-size: 16px; color: #5823C8;"></i>   Blog</p>
        {% else %}
          <p class="arttext" style="padding-top: 1px;"><i class="fa-solid fa-newspaper fa-2xs" style="font-size: 16px;"></i>   Blog</p>
        {% endif %}
    </a> -->
    <a href="/about/" style="text-decoration: none; color: #000000;">
      {% if isAboutMe %}
        <p class="arttext" style="padding-top: 1px;">    <i class="fa-solid fa-address-card fa-2xs" style="font-size: 16px; color: #5823C8;"></i>   About me</p>
      {% else %}
        <p class="arttext" style="padding-top: 1px;">    <i class="fa-solid fa-address-card fa-2xs" style="font-size: 16px;"></i>   About me</p>
      {% endif %}
  </a>
  </div>
</div>



